body
{
    background-color:#442D4B;
    margin:30px 70px 30px 70px;
}
.img1
{
height:30px;
width:120px;
}
.jj a
{
float:right;
text-decoration: none;
color:orange;
width:10%;
}
p,span
{
    color:white;
}
.nn
{
    margin:20px;
}
.img2 img
{
height:300px;
width:170px;
margin:20px;
padding:10px;
}
.jj2 img
{
    float:right;
    background-color: black;
}
